Repository chainventive/SyndX: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

azure-pipelines-backend.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: npm install hardhat
    displayName: Install Hardhat
  - script: npm install -y
    displayName: Install dependancies
    workingDirectory: ./dapp/backend/
  - script: npx hardhat compile --network hardhat
    displayName: Compile contracts
  ...

azure-pipelines-frontend.yml:
  steps:
  - task: DockerInstaller@0
    displayName: Install Docker CLI
    inputs:
      dockerVersion: 24.0.7
  - script: 'touch .env
  
      echo "NEXT_PUBLIC_ALCHEMY_API_KEY=$(NEXT_PUBLIC_ALCHEMY_API_KEY)" >> .env
  
  ...

Add governance token to Coproperty
  dapp/backend/contracts/Syndx.sol
  dapp/backend/contracts/coproperty/coproperty.sol
  dapp/backend/contracts/coproperty/token/CopropertyToken.sol
  dapp/backend/contracts/coproperty/token/ICopropertyToken.sol
  dapp/backend/scripts/deploy.js
Due: azure-pipelines-backend.yml

Adde GeneralAssembly contract
  dapp/backend/contracts/Syndx.sol
  dapp/backend/contracts/common/SDX.sol
  dapp/backend/contracts/common/constants/CONST.sol
  dapp/backend/contracts/coproperty/assembly/GeneralAssembly.sol
  dapp/backend/contracts/coproperty/coproperty.sol
  dapp/backend/hardhat.config.js
  dapp/backend/scripts/deploy.js
Due: azure-pipelines-backend.yml

Added resolutions and amendments to general assembly contract
  dapp/backend/contracts/common/SDX.sol
  dapp/backend/contracts/common/SyndxValidations.sol
  dapp/backend/contracts/common/constants/CONST.sol
  dapp/backend/contracts/coproperty/assembly/GeneralAssembly.sol
  dapp/backend/helpers/time.js
  dapp/backend/scripts/deploy.js
Due: azure-pipelines-backend.yml

Added voting strategy + tiebreaker to GeneralAssembly contract
  dapp/backend/contracts/Syndx.sol
  dapp/backend/contracts/common/SDX.sol
  dapp/backend/contracts/coproperty/assembly/GeneralAssembly.sol
  dapp/backend/scripts/deploy.js
Due: azure-pipelines-backend.yml

Mock getRequestedRandomNumber() func to test tiebrek mecanism of GeneralAssembly contract
  dapp/backend/contracts/Syndx.sol
  dapp/backend/contracts/coproperty/assembly/GeneralAssembly.sol
  dapp/backend/scripts/deploy.js
Due: azure-pipelines-backend.yml

Added tiebreaker callback function in GeneralAssembly contract + mock function in Syndx
  dapp/backend/contracts/Syndx.sol
  dapp/backend/contracts/coproperty/assembly/GeneralAssembly.sol
  dapp/backend/scripts/deploy.js
Due: azure-pipelines-backend.yml

Added VRF support for Syndx contract
  dapp/backend/contracts/Syndx.sol
  dapp/backend/contracts/common/SDX.sol
  dapp/backend/contracts/common/Validator.sol
  dapp/backend/contracts/common/constants/CONST.sol
  dapp/backend/contracts/coproperty/assembly/GeneralAssembly.sol
  dapp/backend/contracts/coproperty/coproperty.sol
  dapp/backend/contracts/coproperty/token/CopropertyToken.sol
  dapp/backend/contracts/randomness/SyndxVRF.sol
  dapp/backend/hardhat.config.js
  dapp/backend/scripts/deploy.js
Due: azure-pipelines-backend.yml

Added vote token
  dapp/backend/contracts/ISyndx.sol
  dapp/backend/contracts/Syndx.sol
  dapp/backend/contracts/common/SDX.sol
  dapp/backend/contracts/common/Validator.sol
  dapp/backend/contracts/common/constants/constants.sol
  dapp/backend/contracts/common/errors/AddressErrors.sol
  dapp/backend/contracts/common/errors/CopropertyErrors.sol
  dapp/backend/contracts/common/errors/ERRORS.sol
  dapp/backend/contracts/common/errors/SyndxErrors.sol
  dapp/backend/contracts/common/errors/SyndxVRFErrors.sol
  dapp/backend/contracts/common/errors/TokenErrors.sol
  dapp/backend/contracts/common/errors/ValidatorErrors.sol
  dapp/backend/contracts/coproperty/ICoproperty.sol
  dapp/backend/contracts/coproperty/assembly/GeneralAssembly.sol
  dapp/backend/contracts/coproperty/assembly/IGeneralAssembly.sol
  dapp/backend/contracts/coproperty/assembly/token/IVoteToken.sol
  dapp/backend/contracts/coproperty/assembly/token/VoteToken.sol
  dapp/backend/contracts/coproperty/coproperty.sol
  dapp/backend/contracts/coproperty/token/CopropertyToken.sol
  dapp/backend/contracts/coproperty/token/GovernanceToken.sol
  dapp/backend/contracts/coproperty/token/IGovernanceToken.sol
  dapp/backend/contracts/randomness/SyndxVRF.sol
  dapp/backend/hardhat.config.js
  dapp/backend/scripts/contracts-size.js
  dapp/backend/scripts/deploy.js
  dapp/backend/scripts/token.js
Due: azure-pipelines-backend.yml

Fixed SC, added Chainlink VRF Mock V2 for Unit Testing, add Unit Tests
  dapp/backend/contracts/Syndx.sol
  dapp/backend/contracts/_common/SDX.sol
  dapp/backend/contracts/_common/constants.sol
  dapp/backend/contracts/_common/errors/ValidatorErrors.sol
  dapp/backend/contracts/_common/errors/addresses.sol
  dapp/backend/contracts/_common/errors/coproperty.sol
  dapp/backend/contracts/_common/errors/syndx.sol
  dapp/backend/contracts/_common/errors/syndxVRF.sol
  dapp/backend/contracts/_common/errors/tokenFactory.sol
  dapp/backend/contracts/assembly/GeneralAssembly.sol
  dapp/backend/contracts/assembly/IGeneralAssembly.sol
  dapp/backend/contracts/common/errors/TokenErrors.sol
  dapp/backend/contracts/common/errors/ValidatorErrors.sol
  dapp/backend/contracts/coproperty/ICoproperty.sol
  dapp/backend/contracts/coproperty/assembly/token/VoteToken.sol
  dapp/backend/contracts/coproperty/coproperty.sol
  dapp/backend/contracts/randomness/SyndxVRF.sol
  dapp/backend/contracts/randomness/VRFCoordinatorV2Mock.sol
  dapp/backend/contracts/tokens/ITokenFactory.sol
  dapp/backend/contracts/tokens/TokenFactory.sol
  dapp/backend/contracts/tokens/governance/GovernanceToken.sol
  dapp/backend/contracts/tokens/governance/IGovernanceToken.sol
  dapp/backend/contracts/tokens/vote/IVoteToken.sol
  dapp/backend/contracts/tokens/vote/VoteToken.sol
  dapp/backend/scripts/contracts-size.js
  dapp/backend/scripts/demo.js
  dapp/backend/scripts/deploy-newTokenFactory.js
  dapp/backend/scripts/token.js
  dapp/backend/test/Lock.js
  dapp/backend/test/Syndx.test.js
Due: azure-pipelines-backend.yml

Added analyzer, deploy and verify scripts to hardhat project
  dapp/backend/hardhat.config.js
  dapp/backend/package-lock.json
  dapp/backend/package.json
  dapp/backend/scripts/analyzer.js
  dapp/backend/scripts/deploy-newTokenFactory.js
  dapp/backend/scripts/deploy.js
  dapp/backend/scripts/verify.js
  dapp/package-lock.json
Due: azure-pipelines-backend.yml

Update azure-pipelines-dapp.yml for Azure Pipelines
  azure-pipelines-dapp.yml
Due: none

Remove mumbai network from hardhat configs
  dapp/backend/hardhat.config.js
Due: azure-pipelines-backend.yml

Removed env var for mumbai alchemy api key
  dapp/backend/hardhat.config.js
Due: azure-pipelines-backend.yml

Rename coproperty.sol to Coproperty.sol
  dapp/backend/contracts/coproperty/Coproperty.sol
Due: azure-pipelines-backend.yml

Output data for Azure DevOps Environnement Variables
  dapp/backend/scripts/deploy.js
Due: azure-pipelines-backend.yml

Added backend configs, minimal interface for syndx smart contract, syndx context
  dapp/frontend/package-lock.json
  dapp/frontend/package.json
  dapp/frontend/src/app/layout.js
  dapp/frontend/src/app/page.js
  dapp/frontend/src/constants/contract.js
Due: azure-pipelines-frontend.yml

Added script to output deployed contracts addresses into frontend directory
  dapp/backend/helpers/fileOutput.js
  dapp/backend/scripts/deploy.js
  dapp/backend/scripts/outputs/deployOutput.js
Due: azure-pipelines-backend.yml

Update contexts, helpers and added backend data coming from hardhat deployment script
  dapp/frontend/src/app/contexts/syndx/hooks/useSyndx.js
  dapp/frontend/src/app/contexts/syndx/syndx.context.jsx
  dapp/frontend/src/backend/index.js
  dapp/frontend/src/backend/outputs/deployOutput.js
  dapp/frontend/src/helpers/index.js
Due: azure-pipelines-frontend.yml

Added support of deployement block number in deploy script output
  dapp/backend/scripts/deploy.js
  dapp/backend/scripts/outputs/deployOutput.js
Due: azure-pipelines-backend.yml

frontend backend output folder
  dapp/frontend/src/backend/outputs/.gitkeep
Due: azure-pipelines-frontend.yml

Linked backend deployement data with front end + improvement UI page
  dapp/backend/scripts/outputs/deployOutput.js
  dapp/frontend/src/app/contexts/syndx/syndx.context.jsx
  dapp/frontend/src/app/layout.js
  dapp/frontend/src/app/page.js
  dapp/frontend/src/backend/outputs/deployOutput.js
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

Add listen to all events to syndx context
  dapp/backend/scripts/outputs/deployOutput.js
Due: azure-pipelines-backend.yml

updated syndx context + gitignore deployOutput.js
  dapp/frontend/.gitignore
  dapp/frontend/src/app/contexts/syndx/syndx.context.jsx
Due: azure-pipelines-frontend.yml

Automatically register syndx contract as chainlink consumer at deployment
  dapp/backend/contracts/randomness/VRFCoordinatorV2.sol
  dapp/backend/scripts/deploy.js
  dapp/backend/scripts/outputs/deployOutput.js
  dapp/frontend/src/backend/outputs/deployOutput.js
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

Added block number source from deploy output for dapp
  dapp/frontend/src/backend/index.js
Due: azure-pipelines-frontend.yml

Fix NEXT_PUBLIC_CONTRACT_BLOCK_NUMBER
  dapp/frontend/src/backend/index.js
Due: azure-pipelines-frontend.yml

Add helpers/artifactAbiExtractor.js
  dapp/backend/helpers/artifactAbiExtractor.js
  dapp/backend/scripts/deploy.js
  dapp/backend/scripts/outputs/deployOutput.js
Due: azure-pipelines-backend.yml

Replace abi source from backend artifact folder to frontend deployOutput file
  dapp/frontend/src/backend/index.js
Due: azure-pipelines-frontend.yml

Added basic demo to allow user to register coproperties
  dapp/frontend/src/app/contexts/syndx/syndx.context.jsx
  dapp/frontend/src/app/page.js
  dapp/frontend/src/backend/outputs/deployOutput.js
Due: azure-pipelines-frontend.yml

Updated backed scripts
  dapp/backend/package-lock.json
  dapp/backend/package.json
  dapp/backend/scripts/outputs/deployOutput.js
  dapp/backend/scripts/seed.js
Due: azure-pipelines-backend.yml

Improved syndx context + reducer
  dapp/frontend/src/app/contexts/syndx/syndx.context.jsx
  dapp/frontend/src/app/contexts/syndx/syndx.reducer.jsx
  dapp/frontend/src/app/page.js
  dapp/frontend/src/backend/outputs/deployOutput.js
  dapp/frontend/src/helpers/formatter/index.js
  dapp/frontend/src/helpers/index.js
  dapp/frontend/src/helpers/transformer/index.js
Due: azure-pipelines-frontend.yml

Added coproperty, general assembly and tokens contract abi in deployment script output
  dapp/backend/scripts/deploy.js
  dapp/backend/scripts/outputs/deployOutput.js
Due: azure-pipelines-backend.yml

Added component logic to display UI for admin, syndic and owners
  dapp/frontend/src/app/page.js
  dapp/frontend/src/backend/index.js
  dapp/frontend/src/backend/outputs/deployOutput.js
  dapp/frontend/src/components/header/Header.js
  dapp/frontend/src/components/syndx/Syndx.js
  dapp/frontend/src/components/syndx/disconnected/Disconnected.js
  dapp/frontend/src/components/syndx/nav/Nav.js
  dapp/frontend/src/components/syndx/spaces/admin/AdminSpace.js
  dapp/frontend/src/components/syndx/spaces/admin/features/coproperty/create/createCoproperty.js
  dapp/frontend/src/components/syndx/spaces/user/owner/OwnerSpace.js
  dapp/frontend/src/components/syndx/spaces/user/syndic/SyndicSpace.js
  dapp/frontend/src/components/syndx/spaces/user/userSpace.js
Due: azure-pipelines-frontend.yml

Add corpoperty components
  dapp/backend/contracts/_common/errors/tokenFactory.sol
  dapp/backend/contracts/tokens/governance/GovernanceToken.sol
  dapp/backend/scripts/outputs/deployOutput.js
  dapp/backend/test/Syndx.test.js
Due: azure-pipelines-backend.yml

Path conditions:
  azure-pipelines-backend.yml: any of: dapp/backend
  azure-pipelines-frontend.yml: any of: dapp/frontend
