Repository chainventive/SyndX: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

azure-pipelines-backend.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: npm install hardhat
    displayName: Install Hardhat
  - script: npm install -y
    displayName: Install dependancies
    workingDirectory: ./dapp/backend/
  - script: npx hardhat compile --network hardhat
    displayName: Compile contracts
  ...

azure-pipelines-frontend.yml:
  steps:
  - task: DockerInstaller@0
    displayName: Install Docker CLI
    inputs:
      dockerVersion: 24.0.7
  - script: 'touch .env
  
      echo "NEXT_PUBLIC_ALCHEMY_API_KEY=$(NEXT_PUBLIC_ALCHEMY_API_KEY)" >> .env
  
  ...

Add corpoperty components
  dapp/frontend/src/app/contexts/coproperty/coproperty.context.jsx
  dapp/frontend/src/app/contexts/coproperty/coproperty.reducer.jsx
  dapp/frontend/src/app/contexts/coproperty/hook/useCoproperty.js
  dapp/frontend/src/app/contexts/syndx/syndx.context.jsx
  dapp/frontend/src/app/contexts/syndx/syndx.reducer.jsx
  dapp/frontend/src/app/layout.js
  dapp/frontend/src/backend/outputs/deployOutput.js
  dapp/frontend/src/components/syndx/Syndx.js
  dapp/frontend/src/components/syndx/nav/Nav.js
  dapp/frontend/src/components/syndx/spaces/admin/AdminSpace.js
  dapp/frontend/src/components/syndx/spaces/user/owner/OwnerSpace.js
  dapp/frontend/src/components/syndx/spaces/user/syndic/SyndicSpace.js
  dapp/frontend/src/components/syndx/spaces/user/syndic/features/owners/manage/copropertyOwners.js
  dapp/frontend/src/components/syndx/spaces/user/syndic/features/owners/register/registerOwner.js
  dapp/frontend/src/components/syndx/spaces/user/userSpace.js
Due: azure-pipelines-frontend.yml

Add syndic general assembly creation + view + select
  dapp/frontend/src/app/contexts/coproperty/coproperty.context.jsx
  dapp/frontend/src/app/contexts/coproperty/coproperty.reducer.jsx
  dapp/frontend/src/backend/index.js
  dapp/frontend/src/components/syndx/nav/Nav.js
  dapp/frontend/src/components/syndx/spaces/admin/features/coproperty/create/createCoproperty.js
  dapp/frontend/src/components/syndx/spaces/user/syndic/SyndicSpace.js
  dapp/frontend/src/components/syndx/spaces/user/syndic/features/assembly/create/createAssembly.js
  dapp/frontend/src/components/syndx/spaces/user/syndic/features/assembly/select/selectAssembly.js
  dapp/frontend/src/components/syndx/spaces/user/syndic/features/owners/manage/copropertyOwners.js
  dapp/frontend/src/components/syndx/spaces/user/syndic/features/owners/register/registerOwner.js
  dapp/frontend/src/helpers/index.js
  dapp/frontend/src/helpers/time/index.js
  dapp/frontend/src/helpers/utils/index.js
Due: azure-pipelines-frontend.yml

Added General Assembly features
  dapp/frontend/src/app/contexts/assembly/assembly.context.jsx
  dapp/frontend/src/app/contexts/assembly/assembly.reducer.jsx
  dapp/frontend/src/app/contexts/assembly/hook/useAssembly.js
  dapp/frontend/src/app/contexts/coproperty/coproperty.context.jsx
  dapp/frontend/src/components/syndx/spaces/user/syndic/SyndicSpace.js
  dapp/frontend/src/components/syndx/spaces/user/syndic/features/assembly/create/createAmendment.js
  dapp/frontend/src/components/syndx/spaces/user/syndic/features/assembly/create/createResolution.js
  dapp/frontend/src/components/syndx/spaces/user/syndic/features/assembly/participate/assembly.js
Due: azure-pipelines-frontend.yml

Added syndic feats for managing general assembly
  dapp/frontend/src/app/contexts/assembly/assembly.context.jsx
  dapp/frontend/src/app/contexts/assembly/assembly.reducer.jsx
  dapp/frontend/src/components/syndx/spaces/user/syndic/features/assembly/create/createAmendment.js
  dapp/frontend/src/components/syndx/spaces/user/syndic/features/assembly/participate/assembly.js
  dapp/frontend/src/components/syndx/spaces/user/syndic/features/assembly/resolution/Resolution.js
Due: azure-pipelines-frontend.yml

Added vote tokens features for syndic and owners + voting features
  dapp/backend/contracts/tokens/vote/VoteToken.sol
  dapp/backend/scripts/outputs/deployOutput.js
  dapp/backend/test/Syndx.test.js
  dapp/frontend/src/app/contexts/assembly/assembly.context.jsx
  dapp/frontend/src/backend/outputs/deployOutput.js
  dapp/frontend/src/components/syndx/Syndx.js
  dapp/frontend/src/components/syndx/assembly/createAssembly.js
  dapp/frontend/src/components/syndx/assembly/createResolution.js
  dapp/frontend/src/components/syndx/assembly/manageAssembly.js
  dapp/frontend/src/components/syndx/assembly/resolution/Resolution.js
  dapp/frontend/src/components/syndx/assembly/selectAssembly.js
  dapp/frontend/src/components/syndx/assembly/vote/ClaimVote.js
  dapp/frontend/src/components/syndx/assembly/vote/VoteToken.js
  dapp/frontend/src/components/syndx/coproperty/createCoproperty.js
  dapp/frontend/src/components/syndx/coproperty/manageOwners.js
  dapp/frontend/src/components/syndx/coproperty/registerOwner.js
  dapp/frontend/src/components/syndx/spaces/AdminSpace.js
  dapp/frontend/src/components/syndx/spaces/UserSpace.js
  dapp/frontend/src/components/syndx/spaces/user/owner/OwnerSpace.js
  dapp/frontend/src/components/syndx/spaces/users/OwnerSpace.js
  dapp/frontend/src/components/syndx/spaces/users/SyndicSpace.js
  dapp/frontend/src/helpers/time/index.js
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

cleaned assembly
  dapp/backend/scripts/outputs/deployOutput.js
  dapp/frontend/src/app/contexts/assembly/assembly.context.jsx
  dapp/frontend/src/app/contexts/assembly/assembly.reducer.jsx
  dapp/frontend/src/backend/outputs/deployOutput.js
  dapp/frontend/src/components/syndx/assembly/manageAssembly.js
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

fix tiebreaker + vote results
  dapp/backend/contracts/_common/constants.sol
  dapp/backend/contracts/assembly/GeneralAssembly.sol
  dapp/backend/scripts/mine.js
  dapp/backend/scripts/outputs/deployOutput.js
  dapp/backend/test/Syndx.test.js
  dapp/frontend/src/app/contexts/assembly/assembly.context.jsx
  dapp/frontend/src/backend/outputs/deployOutput.js
  dapp/frontend/src/components/syndx/assembly/manageAssembly.js
  dapp/frontend/src/components/syndx/assembly/resolution/Resolution.js
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

Home + Header + Nav + Admin Space UI
  dapp/frontend/package-lock.json
  dapp/frontend/package.json
  dapp/frontend/public/logo.png
  dapp/frontend/src/app/layout.js
  dapp/frontend/src/app/page.js
  dapp/frontend/src/components/header/Header.js
  dapp/frontend/src/components/syndx/Syndx.js
  dapp/frontend/src/components/syndx/coproperty/createCoproperty.js
  dapp/frontend/src/components/syndx/disconnected/Disconnected.js
  dapp/frontend/src/components/syndx/nav/Nav.js
  dapp/frontend/src/components/syndx/spaces/AdminSpace.js
  dapp/frontend/src/helpers/formatter/index.js
Due: azure-pipelines-frontend.yml

Finalized UI
  dapp/frontend/src/app/contexts/coproperty/coproperty.context.jsx
  dapp/frontend/src/components/header/Header.js
  dapp/frontend/src/components/syndx/assembly/createAssembly.js
  dapp/frontend/src/components/syndx/assembly/createResolution.js
  dapp/frontend/src/components/syndx/assembly/manageAssembly.js
  dapp/frontend/src/components/syndx/assembly/resolution/Resolution.js
  dapp/frontend/src/components/syndx/assembly/selectAssembly.js
  dapp/frontend/src/components/syndx/assembly/vote/ClaimVote.js
  dapp/frontend/src/components/syndx/assembly/vote/VoteToken.js
  dapp/frontend/src/components/syndx/coproperty/createCoproperty.js
  dapp/frontend/src/components/syndx/coproperty/manageOwners.js
  dapp/frontend/src/components/syndx/coproperty/registerOwner.js
  dapp/frontend/src/components/syndx/spaces/AdminSpace.js
  dapp/frontend/src/components/syndx/spaces/UserSpace.js
  dapp/frontend/src/components/syndx/spaces/users/OwnerSpace.js
  dapp/frontend/src/components/syndx/spaces/users/SyndicSpace.js
  dapp/frontend/src/helpers/time/index.js
Due: azure-pipelines-frontend.yml

Fixed navigation issues
  dapp/frontend/src/app/contexts/coproperty/coproperty.context.jsx
  dapp/frontend/src/app/contexts/coproperty/coproperty.reducer.jsx
Due: azure-pipelines-frontend.yml

Fixed stepper + tiebreaker
  dapp/frontend/src/components/syndx/assembly/createAssembly.js
  dapp/frontend/src/components/syndx/assembly/createResolution.js
  dapp/frontend/src/components/syndx/assembly/manageAssembly.js
  dapp/frontend/src/components/syndx/assembly/resolution/Resolution.js
Due: azure-pipelines-frontend.yml

Improved newtork time sync management
  dapp/frontend/src/app/contexts/syndx/syndx.context.jsx
  dapp/frontend/src/app/page.js
  dapp/frontend/src/backend/outputs/deployOutput.js
  dapp/frontend/src/components/header/Header.js
  dapp/frontend/src/components/syndx/assembly/createAssembly.js
  dapp/frontend/src/components/syndx/assembly/manageAssembly.js
  dapp/frontend/src/components/syndx/assembly/selectAssembly.js
  dapp/frontend/src/components/syndx/coproperty/createCoproperty.js
  dapp/frontend/src/components/syndx/coproperty/registerOwner.js
  dapp/frontend/src/components/syndx/disconnected/Disconnected.js
  dapp/frontend/src/components/syndx/nav/Nav.js
  dapp/frontend/src/components/syndx/spaces/AdminSpace.js
  dapp/frontend/src/components/syndx/spaces/users/SyndicSpace.js
Due: azure-pipelines-frontend.yml

Network sync improvement
  dapp/frontend/src/app/contexts/syndx/syndx.context.jsx
Due: azure-pipelines-frontend.yml

join output data
  dapp/backend/scripts/outputs/deployOutput.js
Due: azure-pipelines-backend.yml

Added a seed script to feed a syndx sc with copros + fixed no compoperty selected message
  dapp/backend/scripts/seed.js
  dapp/frontend/src/components/syndx/spaces/AdminSpace.js
  dapp/frontend/src/components/syndx/spaces/UserSpace.js
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

Fixed votes buttons
  dapp/backend/contracts/_common/constants.sol
  dapp/backend/scripts/outputs/deployOutput.js
  dapp/backend/scripts/seed.js
  dapp/frontend/src/app/contexts/assembly/assembly.reducer.jsx
  dapp/frontend/src/backend/outputs/deployOutput.js
  dapp/frontend/src/components/syndx/assembly/manageAssembly.js
  dapp/frontend/src/components/syndx/assembly/resolution/Resolution.js
  dapp/frontend/src/components/syndx/coproperty/manageOwners.js
  dapp/frontend/src/components/syndx/coproperty/registerOwner.js
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

Remove console log
  dapp/frontend/src/components/syndx/assembly/manageAssembly.js
Due: azure-pipelines-frontend.yml

Create test coverage
  project/test coverage
Due: none

Fix test coverage due to missing constant value
  dapp/backend/scripts/seed.js
  dapp/backend/test/Syndx.test.js
Due: azure-pipelines-backend.yml

Fix Alchemy Spam with Wagmi WatchEvents + Spinners on loading buttons
  dapp/backend/scripts/outputs/deployOutput.js
  dapp/backend/scripts/seed.js
  dapp/backend/scripts/verify.js
  dapp/frontend/src/app/contexts/assembly/assembly.context.jsx
  dapp/frontend/src/app/contexts/assembly/assembly.reducer.jsx
  dapp/frontend/src/app/contexts/coproperty/coproperty.context.jsx
  dapp/frontend/src/app/contexts/syndx/syndx.context.jsx
  dapp/frontend/src/app/contexts/syndx/syndx.reducer.jsx
  dapp/frontend/src/backend/outputs/deployOutput.js
  dapp/frontend/src/components/syndx/assembly/createAssembly.js
  dapp/frontend/src/components/syndx/assembly/createResolution.js
  dapp/frontend/src/components/syndx/assembly/manageAssembly.js
  dapp/frontend/src/components/syndx/assembly/resolution/Resolution.js
  dapp/frontend/src/components/syndx/assembly/selectAssembly.js
  dapp/frontend/src/components/syndx/assembly/vote/VoteToken.js
  dapp/frontend/src/components/syndx/coproperty/createCoproperty.js
  dapp/frontend/src/components/syndx/coproperty/manageOwners.js
  dapp/frontend/src/components/syndx/coproperty/registerOwner.js
  dapp/frontend/src/components/syndx/spaces/users/OwnerSpace.js
  dapp/frontend/src/components/syndx/spaces/users/SyndicSpace.js
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

Added natspecs
  dapp/backend/contracts/ISyndx.sol
  dapp/backend/contracts/Syndx.sol
  dapp/backend/contracts/assembly/GeneralAssembly.sol
  dapp/backend/contracts/coproperty/Coproperty.sol
  dapp/backend/contracts/randomness/SyndxVRF.sol
  dapp/backend/contracts/tokens/ITokenFactory.sol
  dapp/backend/contracts/tokens/TokenFactory.sol
  dapp/backend/scripts/verify.js
Due: azure-pipelines-backend.yml

Added Natspec
  dapp/backend/contracts/_common/SDX.sol
  dapp/backend/contracts/_common/constants.sol
  dapp/backend/contracts/_common/errors/ValidatorErrors.sol
  dapp/backend/contracts/_common/errors/addresses.sol
  dapp/backend/contracts/_common/errors/coproperty.sol
  dapp/backend/contracts/_common/errors/syndx.sol
  dapp/backend/contracts/_common/errors/syndxVRF.sol
  dapp/backend/contracts/_common/errors/tokenFactory.sol
  dapp/backend/contracts/assembly/GeneralAssembly.sol
  dapp/backend/contracts/assembly/IGeneralAssembly.sol
  dapp/backend/contracts/coproperty/ICoproperty.sol
  dapp/backend/contracts/tokens/governance/GovernanceToken.sol
  dapp/backend/contracts/tokens/governance/IGovernanceToken.sol
  dapp/backend/contracts/tokens/vote/IVoteToken.sol
  dapp/backend/contracts/tokens/vote/VoteToken.sol
Due: azure-pipelines-backend.yml

Update README.md
  README.md
Due: none

Fix minor UI bugs
  dapp/backend/contracts/_common/constants.sol
  dapp/backend/hardhat.config.js
  dapp/backend/scripts/outputs/deployOutput.js
  dapp/backend/scripts/seed.js
  dapp/backend/scripts/verify.js
  dapp/frontend/src/app/contexts/assembly/assembly.context.jsx
  dapp/frontend/src/app/contexts/assembly/assembly.reducer.jsx
  dapp/frontend/src/app/contexts/coproperty/coproperty.context.jsx
  dapp/frontend/src/app/contexts/coproperty/coproperty.reducer.jsx
  dapp/frontend/src/app/contexts/syndx/syndx.context.jsx
  dapp/frontend/src/app/layout.js
  dapp/frontend/src/backend/outputs/deployOutput.js
  dapp/frontend/src/components/syndx/assembly/createResolution.js
  dapp/frontend/src/components/syndx/assembly/manageAssembly.js
  dapp/frontend/src/components/syndx/assembly/resolution/Resolution.js
  dapp/frontend/src/components/syndx/coproperty/registerOwner.js
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

Path conditions:
  azure-pipelines-backend.yml: any of: dapp/backend
  azure-pipelines-frontend.yml: any of: dapp/frontend
