Repository chainventive/SyndX: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

azure-pipelines-backend.yml:

# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - dapp/backend
    exclude:
      - dapp/frontend

pool:
  vmImage: ubuntu-latest

steps:

- script: npm install hardhat
  displayName: 'Install Hardhat'

- script: npm install -y
  displayName: 'Install dependancies'
  workingDirectory: ./dapp/backend/

- script: npx hardhat compile
  displayName: 'Compile contracts'
  workingDirectory: ./dapp/backend/

- script: npx hardhat test
  displayName: 'Test contracts'
  workingDirectory: ./dapp/backend/

- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: ./dapp/backend/
    archiveType: 'tar'
    archiveFile: '$(Build.ArtifactStagingDirectory)/syndx.tar'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'syndx-build-drop'
    publishLocation: 'Container'

azure-pipelines-frontend.yml:

# SyndX Build Pipeline

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - ./dapp/frontend/*
    exclude:
      - ./dapp/backend/*

steps:

    # Install Docker CLI
  - task: DockerInstaller@0
    displayName: 'Install Docker CLI'
    inputs:
      dockerVersion: '24.0.7'

    # Build the docker image to check if everything is ok
  - script: |
      docker build -t syndx .
    displayName: 'Build docker image'
    workingDirectory: ./dapp/frontend

    # Create docker image artifact
  - script: |
      docker save -o $(Build.ArtifactStagingDirectory)/syndx.tar syndx
    displayName: 'Create docker image artifact'
    workingDirectory: ./dapp/frontend

    # Publish the artifacts folder for release pipeline use
  - task: PublishBuildArtifacts@1
    inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)'
      ArtifactName: 'syndx-build-drop'
      publishLocation: 'Container'

front end title change test
  dapp/frontend/src/app/page.js
Due: azure-pipelines-frontend.yml

update pipelines path triggers
  azure-pipelines-backend.yml
  azure-pipelines-frontend.yml
Due: none

format lock contract
  dapp/backend/contracts/Lock.sol
Due: azure-pipelines-backend.yml

update pipelines path triggers
  azure-pipelines-backend.yml
Due: none

Add environnment variables support to hardhat config file
  dapp/backend/hardhat.config.js
Due: azure-pipelines-backend.yml

Add local hardhat network config
  dapp/backend/hardhat.config.js
Due: azure-pipelines-backend.yml

Add dotenv require to hardhat config
  dapp/backend/hardhat.config.js
  dapp/backend/package-lock.json
  dapp/backend/package.json
Due: azure-pipelines-backend.yml

update backend pipeline
  azure-pipelines-backend.yml
Due: none

update hardhat config
  dapp/backend/hardhat.config.js
Due: azure-pipelines-backend.yml

Add Publish the contract address in order to enbale next AzureDevops pipeline tasks to use it
  dapp/backend/scripts/deploy.js
Due: azure-pipelines-backend.yml

Add etherscan api key support
  dapp/backend/hardhat.config.js
Due: azure-pipelines-backend.yml

Fix hardhat config file for etherscan api key support
  dapp/backend/hardhat.config.js
Due: azure-pipelines-backend.yml

Fix hardhat deploy script for Lock.sol
  dapp/backend/scripts/deploy.js
Due: azure-pipelines-backend.yml

Add comment on env variables outputs for azure pipeline when deploying through Hardhat
  dapp/backend/scripts/deploy.js
Due: azure-pipelines-backend.yml

Change dapp lending page title
  dapp/frontend/src/app/page.js
Due: azure-pipelines-frontend.yml

Clean next.js base project
  dapp/frontend/public/next.svg
  dapp/frontend/public/vercel.svg
  dapp/frontend/src/app/globals.css
  dapp/frontend/src/app/layout.js
  dapp/frontend/src/app/page.js
  dapp/frontend/src/app/page.module.css
Due: azure-pipelines-frontend.yml

Disable nextjs telemetry
  dapp/frontend/Dockerfile
Due: azure-pipelines-frontend.yml

Fix nextjs dockerfile
  dapp/frontend/Dockerfile
Due: azure-pipelines-frontend.yml

Change dapp page title and descritpion
  dapp/frontend/src/app/layout.js
Due: azure-pipelines-frontend.yml

Added dapp package.json with custom scripts
  dapp/package.json
Due: none

Cleaned the backend package.json
  dapp/backend/package.json
Due: azure-pipelines-backend.yml

Updated backend .gitignore
  dapp/backend/.gitignore
Due: azure-pipelines-backend.yml

Updated frontend .gitignore
  dapp/frontend/.gitignore
Due: azure-pipelines-frontend.yml

Update hardhat config file to support env vrariables + sepolia and hardhat chains
  dapp/backend/hardhat.config.js
Due: azure-pipelines-backend.yml

Fix NextJS pino pretty error
  dapp/frontend/next.config.js
Due: azure-pipelines-frontend.yml
