Repository chainventive/SyndX: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

azure-pipelines-backend.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: npm install hardhat
    displayName: Install Hardhat
  - script: npm install -y
    displayName: Install dependancies
    workingDirectory: ./dapp/backend/
  - script: npx hardhat compile --network hardhat
    displayName: Compile contracts
  ...

azure-pipelines-frontend.yml:
  steps:
  - task: DockerInstaller@0
    displayName: Install Docker CLI
    inputs:
      dockerVersion: 24.0.7
  - script: 'docker build -t syndx .
  
      '
    displayName: Build docker image
    workingDirectory: ./dapp/frontend
  - script: 'docker save -o $(Build.ArtifactStagingDirectory)/syndx.tar syndx
  
      '
  ...

Added nextjs env configs + contract constants
  dapp/frontend/package-lock.json
  dapp/frontend/package.json
  dapp/frontend/src/app/page.js
  dapp/frontend/src/constants/contract.js
Due: azure-pipelines-frontend.yml

Added RainbowKit + Wagmi to frontend dApp
  dapp/frontend/package-lock.json
  dapp/frontend/package.json
  dapp/frontend/src/app/layout.js
Due: azure-pipelines-frontend.yml

Fixed remaining configs to enable the rainbowkit connect button
  dapp/frontend/src/app/layout.js
  dapp/frontend/src/app/page.js
Due: azure-pipelines-frontend.yml

Added .env file to the frontend pipeline
  azure-pipelines-frontend.yml
Due: none

Updated frontend pipeline
  azure-pipelines-frontend.yml
Due: none

Create the full dapp pipeline
  azure-pipelines-dapp.yml
Due: none

Deactivate deployement scriots on hardhat chain
  azure-pipelines-dapp.yml
Due: none

Fix backend:deploy:sepolia script task
  dapp/package.json
Due: none

Update dapp pipeline
  azure-pipelines-dapp.yml
Due: none

Removed backend and frontend pipelines as they are both replaced by the dapp pipeline
  azure-pipelines-backend.yml
  azure-pipelines-frontend.yml
Due: none

Create AG contract and deployment base
  dapp/backend/contracts/AG.sol
  dapp/backend/contracts/Lock.sol
  dapp/backend/hardhat.config.js
  dapp/backend/helpers/time.js
  dapp/backend/package-lock.json
  dapp/backend/package.json
  dapp/backend/scripts/deploy.js
Due: azure-pipelines-backend.yml

SC base
  dapp/backend/contracts/AG.sol
  dapp/backend/contracts/common/Base.sol
  dapp/backend/contracts/common/Constants.sol
  dapp/backend/contracts/common/Errors.sol
  dapp/backend/contracts/coproperty/Coproperty.sol
  dapp/backend/contracts/factory/ISyndxFactory.sol
  dapp/backend/contracts/factory/SyndxFactory.sol
  dapp/backend/contracts/meeting/AGMeeting.sol
  dapp/backend/contracts/meeting/IAGMeeting.sol
  dapp/backend/contracts/token/ISynToken.sol
  dapp/backend/contracts/token/SynToken.sol
  dapp/backend/data/syndx.js
  dapp/backend/scripts/deploy-syndx.js
Due: azure-pipelines-backend.yml

update contracts tests
  dapp/backend/contracts/common/Base.sol
  dapp/backend/contracts/common/Constants.sol
  dapp/backend/contracts/common/Enums.sol
  dapp/backend/contracts/common/Errors.sol
  dapp/backend/contracts/coproperty/Coproperty.sol
  dapp/backend/contracts/factory/ISyndxFactory.sol
  dapp/backend/contracts/factory/SyndxFactory.sol
  dapp/backend/contracts/meeting/AGMeeting.sol
  dapp/backend/contracts/meeting/IAGMeeting.sol
  dapp/backend/contracts/vote/IVote.sol
  dapp/backend/contracts/vote/Vote.sol
  dapp/backend/hardhat.config.js
  dapp/backend/helpers/time.js
  dapp/backend/scripts/deploy-syndx.js
Due: azure-pipelines-backend.yml

remove vote contract
  dapp/backend/contracts/factory/ISyndxFactory.sol
  dapp/backend/contracts/factory/SyndxFactory.sol
  dapp/backend/contracts/vote/IVote.sol
  dapp/backend/contracts/vote/Vote.sol
  dapp/backend/scripts/deploy-syndx.js
Due: azure-pipelines-backend.yml

brainstorming final
  dapp/backend/contracts/common/Base.sol
  dapp/backend/contracts/common/Constants.sol
  dapp/backend/contracts/common/Enums.sol
  dapp/backend/contracts/common/Errors.sol
  dapp/backend/contracts/factory/ISyndxFactory.sol
  dapp/backend/contracts/factory/SyndxFactory.sol
  dapp/backend/contracts/factory/SyndxRND.sol
  dapp/backend/contracts/meeting/AGMeeting.sol
  dapp/backend/contracts/meeting/IAGMeeting.sol
  dapp/backend/hardhat.config.js
  dapp/backend/helpers/time.js
  dapp/backend/package-lock.json
  dapp/backend/package.json
  dapp/backend/scripts/deploy-syndx.js
  dapp/backend/scripts/deploy.js
Due: azure-pipelines-backend.yml

Add common contracts files
  dapp/backend/contracts/common/Base.sol
  dapp/backend/contracts/common/Constants.sol
  dapp/backend/contracts/common/Enums.sol
  dapp/backend/contracts/common/Errors.sol
Due: azure-pipelines-backend.yml

Added Syndx.sol file
  dapp/backend/contracts/Syndx.sol
Due: azure-pipelines-backend.yml

Removed Lock.sol
  dapp/backend/contracts/Lock.sol
Due: azure-pipelines-backend.yml

Added SC base code
  dapp/backend/contracts/Syndx.sol
  dapp/backend/contracts/common/Base.sol
  dapp/backend/contracts/common/Constants.sol
  dapp/backend/contracts/common/Enums.sol
  dapp/backend/contracts/common/Errors.sol
Due: azure-pipelines-backend.yml

Rename Constants contract into SDX
  dapp/backend/contracts/common/Constants.sol
Due: azure-pipelines-backend.yml

Renamed base SC files
  dapp/backend/contracts/Syndx.sol
  dapp/backend/contracts/common/Base.sol
  dapp/backend/contracts/common/Enums.sol
  dapp/backend/contracts/common/Errors.sol
  dapp/backend/hardhat.config.js
Due: azure-pipelines-backend.yml

Updated base files with erros, constants, enums and structs for Syndx
  dapp/backend/contracts/Syndx.sol
  dapp/backend/contracts/common/Errors.sol
Due: azure-pipelines-backend.yml

Syndx is Ownable
  dapp/backend/contracts/Syndx.sol
Due: azure-pipelines-backend.yml

Add Syndx core functions
  dapp/backend/contracts/Syndx.sol
Due: azure-pipelines-backend.yml

Created coproperty SC
  dapp/backend/contracts/common/SDX.sol
  dapp/backend/contracts/common/constants/CONST.sol
  dapp/backend/contracts/common/errors/ERRORS.sol
  dapp/backend/contracts/coproperty/coproperty.sol
Due: azure-pipelines-backend.yml

Add create coproperty func to syndx
  dapp/backend/contracts/Syndx.sol
  dapp/backend/contracts/coproperty/coproperty.sol
Due: azure-pipelines-backend.yml

Fixed onlySyndic modifier
  dapp/backend/contracts/coproperty/coproperty.sol
  dapp/backend/scripts/deploy.js
Due: azure-pipelines-backend.yml

Fixed calldata + n
  dapp/backend/contracts/Syndx.sol
  dapp/backend/contracts/coproperty/coproperty.sol
  dapp/backend/scripts/deploy.js
Due: azure-pipelines-backend.yml

Updated deployment script
  dapp/backend/scripts/deploy.js
Due: azure-pipelines-backend.yml

Keep track of coproperty contracts
  dapp/backend/contracts/Syndx.sol
  dapp/backend/scripts/deploy.js
Due: azure-pipelines-backend.yml

Add governance token to Coproperty
  dapp/backend/contracts/Syndx.sol
  dapp/backend/contracts/SyndxValidations.sol
  dapp/backend/contracts/common/constants/CONST.sol
  dapp/backend/contracts/coproperty/CopropertyToken.sol
  dapp/backend/contracts/coproperty/ICopropertyToken.sol
  dapp/backend/contracts/coproperty/coproperty.sol
  dapp/backend/scripts/deploy.js
Due: azure-pipelines-backend.yml

Add governance token to Coproperty
  dapp/backend/scripts/deploy.js
Due: azure-pipelines-backend.yml

Add governance token to Coproperty
  dapp/backend/contracts/Syndx.sol
  dapp/backend/contracts/common/SyndxValidations.sol
  dapp/backend/contracts/coproperty/CopropertyToken.sol
  dapp/backend/contracts/coproperty/coproperty.sol
  dapp/backend/scripts/deploy.js
Due: azure-pipelines-backend.yml

Path conditions:
  azure-pipelines-backend.yml: any of: dapp/backend
  azure-pipelines-frontend.yml: any of: dapp/frontend, but not: dapp/backend
